<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1><a href="/">Blog de gabi</a></h1>
    </div>

    <div>
        <p>publicado el ...</p>
        <h2>Titulo 1 </h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, quo.</p>
    </div>

    <div>
        <h2>Lista de heroes</h2>
        <ul>
            <li>Batman</li>
            <li>Hulk</li>
            <li>Capitan América</li>
        </ul>
    </div>

    {% for post in posts %}
    <div>
        <p> publicado: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}

</body>

</html>